{% from "_form_helpers.html" import render_textarea %}
{% extends "layout/main.html" %}


{% block body %}

		<form method="POST" action="/">
			<h3>I am a {{ form.role.label(class='myLabelCssClass') }}{{ form.role(class='myTextboxCssClass', type='text') }} named {{ form.creator(class='myTextboxCssClass') }} and I {{ render_textarea(form.idea, cols="50", rows="1") }} {# render_textarea inside _form_helpers.html #} <br> 
			contact me here {{ form.contact(class='myTextboxCssClass') }}. <button type="submit" class="btn btn-primary">Submit</button>
		</h3>
	</form>

<div class="span12">
	<div class="span4">
		
		<h3>Support/Help</h3>

		{% for a in aids %}
			<h4>{{ a.idea }}</h4>
			<p>by {{ a.creator }} <br>Contact Info : {{a.contact}}</p>
			<a href="/ideas/{{ a.slug }}">Respond to this message</a>
			
			<hr/>
		{% endfor %}
		
	</div>

	<div class="span4">
		
		<h3>Victims</h3>

		{% for v in victims %}
			<h4><a href="/ideas/{{ v.slug }}">{{ v.idea }}</a></h4>
			<p>by {{ v.creator }}</p>
			<hr/>
		{% endfor %}
		
	</div>

	<div class="span4">
		
		<h3>Volunteers</h3>

		{% for v in volunteers %}
			<h4><a href="/ideas/{{ v.slug }}">{{ v.idea }}</a></h4>
			<p>by {{ v.creator }}</p>
			<p>{{ v.timestamp }}</p>
			<hr/>
		{% endfor %}
		
	</div></div>


{% endblock %}

{% block styles %}{% endblock %}
{% block scripts %}{% endblock %}